{% extends "base.html" %}
{% load static %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<!-- Author section-->

<div class="container h-100">
    <section>
            <div class="row pb-2">
                <div class="col-12 pt-4 text-center">
                        <h4 class="text-uppercase"> Welcome! </h4>
                        <p class="text-uppercase"> New! Glück im Burgenland - Release 29 Oct. 2021</p>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-12 text-center pb-5">
                    <a href="https://lisa1q84-kalopsyabooks.herokuapp.com/products/2/">
                        <img class="rounded img-fluid center-block hero-photo" src="{{ MEDIA_URL }}6_Pj0e347.png" alt="photo of new book" width="500">
                    </a>
                </div>
            </div>
    </section>
    <section>
            <div class="row pb-2">
                <div class="col-lg-5 sm-12 bg-black">
                    <img class="rounded img-fluid center-block author-photo" src="{{ MEDIA_URL }}christinegraen.jpg" alt="photo of the author" width="500" height="500">
                </div>
                <div class="col-lg-5 sm-12 bg-black">
                    <h4>About the Author</h4>
                    <p> Christine Grän was born in Graz, lived in Berlin, Bonn, Botswana and Hong Kong and is now at home in Munich. With her heroine Anna Marx she created one of the first female detectives in German crime fiction, and the series was filmed as a twelve-part television series. Grän was awarded the Marlowe and the Ernst Hoferichter Prize. </p>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn rounded-0 text-uppercase py-3">Shop Now</a>
                </div>
            </div>    
    </section>

<!-- Name section-->
    <section class="py-5 bg-white">
        <div class="my-2 py-2 kalopsya-container">
            <div class="row justify-content-center h-100">
                <div class="col-lg-6 py-2 my-auto bg-white">
                    <h2>Why "Kalopsya Books"?</h2>
                    <p>Kalopsya (From Ancient Greek καλοψία): The delusion of things being more beautiful than they are.<br>
                        For me, the fascination in writing crime novels is to uncover the ugly and the dark below the surface of human existance
                        in which things are never what they initially seem to be.  
                    </p>
                </div>
            </div>
        </div>
    </section>

<!-- Carousel section-->

    <section class="py-5 bg-white">
        <div class="row justify-content-center pb-5 content">
            <div class="col-md-6">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="https://lisa1q84-kalopsyabooks.herokuapp.com/products/6/">
                                <img class="d-block w-100" src="{{ MEDIA_URL }}1.png" alt="1st Slide">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="https://lisa1q84-kalopsyabooks.herokuapp.com/products/7/">
                                <img class="d-block w-100" src="{{ MEDIA_URL }}2.png" alt="2nd slide">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="https://lisa1q84-kalopsyabooks.herokuapp.com/products/5/">
                                <img class="d-block w-100" src="{{ MEDIA_URL }}3.png" alt="3rd slide">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="https://lisa1q84-kalopsyabooks.herokuapp.com/products/1/">
                                <img class="d-block w-100" src="{{ MEDIA_URL }}4.png" alt="3rd slide">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="https://lisa1q84-kalopsyabooks.herokuapp.com/products/2/">
                                <img class="d-block w-100" src="{{ MEDIA_URL }}5.png" alt="3rd slide">
                            </a>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <div class="container footer-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
</div>


{% endblock %}