<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-services-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Services
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-services-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Services</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="photo-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Personal 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="photo-link">
                <a href="{% url 'products' %}?category=weddingphotoshoot" class="dropdown-item">Wedding</a>
                <a href="{% url 'products' %}?category=portraitphotoshoot" class="dropdown-item">Portrait</a>
                <a href="{% url 'products' %}?category=weddingphotoshoot,portraitphotoshoot" class="dropdown-item">All Personal Services</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="video-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Business
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="video-link">
                <a href="" class="dropdown-item"></a>
                <a href="{% url 'products' %}?category=promotionalshoot" class="dropdown-item">Business Promotion</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="prints-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Works
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="prints-link">
                <a href="" class="dropdown-item">Portraits</a>
                <a href="" class="dropdown-item">Nature</a>
                <a href="" class="dropdown-item">Urban</a>
                <a href="" class="dropdown-item">Art</a>
            </div>
        </li>
    </ul>
</div>