<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-services-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Services
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-services-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=dsc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Services</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="photo-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Photography
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="photo-link">
                <a href="" class="dropdown-item">Wedding</a>
                <a href="" class="dropdown-item">Portrait</a>
                <a href="" class="dropdown-item">Pets</a>
                <a href="" class="dropdown-item">Business Promotion</a>
                <a href="" class="dropdown-item">All Photography Services</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="video-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Videography
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="video-link">
                <a href="" class="dropdown-item">Wedding</a>
                <a href="" class="dropdown-item">Business Promotion</a>
                <a href="" class="dropdown-item">Events</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="subscription-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Business Subscriptions
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="subscription-link">
                <a href="" class="dropdown-item">Social Media Content</a>
                <a href="" class="dropdown-item">Promotional Shoot</a>
                <a href="" class="dropdown-item">Product Photography</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="prints-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Prints
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="prints-link">
                <a href="" class="dropdown-item">Portraits</a>
                <a href="" class="dropdown-item">Nature</a>
                <a href="" class="dropdown-item">Urban</a>
                <a href="" class="dropdown-item">Art</a>
            </div>
        </li>
    </ul>
</div>