{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/99f2f640c0.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Kalopsia Lens {% block extra_title %} {% endblock %}</title>

  </head>
  <body>
    <header class="container-fluid fixed-top">
        <div id="top-nav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                  <h2 class="logo-font text-black my-0"> Kalopsia Productions </h2></a>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="" class="d-flex">  <!-- search form taken from bootstrap --> 
                    <input class="form-control me-2" type="text" name="q" placeholder="Search" aria-label="Search">
                    <button class="btn btn-black" type="submit">Search</button>
                </form>
            </div>
            
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">

              <ul class="list-inline-item list-unstyled text-center text-lg-right my-0">
                <li class="list-inline-item">
                    {% if request.user.is_authenticated %} 
                        <a class="text-black nav-item nav-link" href="{% url 'profile'}">
                          <i class="fas fa-user fa-lg"></i>
                          <p>Account</p>
                        </a>
                    {% else %}
                      <a class="text-black nav-item nav-link" href="{% url 'account_signup' %}">
                        <i class="fas fa-user fa-lg"></i>
                        <p>Account</p>
                      </a>
                    {% endif %}
                </li>
                <li class="list-inline-item">
                    <a class="text-black nav-item nav-link">
                      <div class="text-center">
                          <div>
                            <i class="fas fa-heart fa-lg"></i>
                            <p>Favorites</p>
                          </div>
                      </div>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="text-black nav-item nav-link" href="#">
                      <div class="text-center">
                          <div>
                            <i class="fas fa-shopping-bag fa-lg"></i>
                            <p>Bag</p>
                          </div>
                      </div>
                    </a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="list-inline-item">
                  <a class="text-black nav-link nav-item" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="text-center">
                        <div>
                          <i class="fas fa-sign-out-alt fa-lg"></i>
                          <p>Logout</p>
                        </div>
                    </div>
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
        </div>
    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

  </body>
</html>