{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&family=Quattrocento:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/99f2f640c0.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Kalopsia Lens {% block extra_title %} {% endblock %}</title>

  </head>
  <body>
    <header class="container-fluid fixed-top bg-white">
        <div id="topnav" class="row pt-lg-1 d-none d-lg-flex">
            <div class="col-12 col-md-3 col-lg-3 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                  <h2 class="logo-font text-black my-0"> Kalopsia  <i class="fas fa-eye"></i> Productions </h2></a>
            </div>
            <div class="col-12 col-md-4 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'products' %}">  <!-- search form taken from bootstrap --> 
                  <div class="input-group w-100">
                      <input class="form-control" type="text" name="q" placeholder="Search" aria-label="Search">
                      <div class="input-group-append">
                        <button class="form-control btn btn-black" type="submit">Search</button>
                      </div>
                  </div>
                </form>
            </div>
            
            <div class="col-12 col-md-5 col-lg-5 my-auto py-1 py-lg-0">

              <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                <li class="list-inline-item">
                    {% if request.user.is_authenticated %} 
                        <a class="text-center text-black nav-link" href="{% url 'profile'}">
                          <i class="fas fa-user fa-lg"></i>
                          <p>My Account</p>
                        </a>
                    {% else %}
                      <a class="text-black nav-link" href="{% url 'account_signup' %}">
                        <i class="fas fa-user fa-lg text-center"></i>
                        <p>Signup/Login</p>
                      </a>
                    {% endif %}
                </li>
                <li class="list-inline-item">
                    <a class="text-black nav-link text-center">
                            <i class="fas fa-heart fa-lg"></i>
                            <p>Favorites</p>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="text-black nav-link text-center" href="#">
                            <i class="fas fa-shopping-bag fa-lg"></i>
                            <p>Bag</p>
                    </a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="list-inline-item">
                  <a class="text-black nav-link text-center" href="#">
                    <i class="fas fa-sign-out-alt fa-lg"></i>
                    <p>Logout</p>
                  </a>
                </li>
                {% endif %}
              </ul>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0"></div>
        </div>
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile_top_header.html' %}
                {% include 'includes/main_nav.html' %}
            </nav>
        </div>
    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    {% endblock %}

  </body>
</html>